<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/assets/css/style.css"  />
	<title>eAT-dA-buRGeR </title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
	 crossorigin="anonymous">

	<script src="/assets/js/burger.js"></script>
</head>

<body>
	{{{ body }}}
</body>

</html>